.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

/*Nav*/

.topnav {
	overflow: hidden;
	background-color: #44b8e6;
}

.topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav input[type="text"] {
	float: right;
	padding: 6px;
	border: none;
	margin-top: 8px;
	margin-right: 16px;
	font-size: 17px;
}

.topnav button {
	float: right;
}

/*Search Options*/

.searchOptions {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border-style: solid;
	border-color: rgb(28, 99, 139);
	background-color: #8ad2ee;
	border-width: 2px;
	border-radius: 30px;
	padding: 10px;
	margin: 20px;
}

.searchOptions li {
	border-color: rgb(28, 99, 139);
	background-color: white;
	border-width: 2px;
	border-radius: 10px;
	border-style: solid;
	padding: 10px;
	margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 70px;
	list-style: none;
}

/*All Pokemon List*/

.pokemonSlot {
	margin: 20px;
	padding-bottom: 20px;
	background-color: #ffffff;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(28, 99, 139);
	border-radius: 30px;
}

.pokemonSlot p {
	color: black;
	text-decoration: none !important;
}

.pokemonCard {
	padding-top: 10px;
	/* border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(121, 119, 119);
	border-radius: 30px;
	margin: 20px;
	background-color: rgb(90, 188, 233); */
}

.pokemonCard p {
	font-size: large;
	padding: 10px;
	margin: auto;
	margin-top: 6px;
	background-color: white;
	text-decoration: black;
	/* border-style: solid;
	border-width: 2px;
	border-color: rgb(28, 99, 139);
	border-radius: 10px; */
	width: fit-content;
}

.pokemonCard img {
	/* background-color: white;
	border-radius: 30px;
	padding: 20px; */
}

/*Pokemon Stats*/

.pokemonContainer h1 {
	padding: 20px;
	font-size: xx-large;
}

.pokemonGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border-style: solid;
	border-width: 2px;
	border-color: rgb(28, 99, 139);
	background-color: #44b8e6;
	border-width: 2px;
	border-radius: 30px;
	margin: 20px;
}

.pokemonGrid p {
	color: black;
	text-decoration: none !important;
}

.pokemonGrid img {
	padding: 30px;
	margin: auto;
	margin-top: 30px;
	/* border-style: solid;
	border-width: 2px;
	border-color: rgb(28, 99, 139);
	border-radius: 30px; */
	height: auto;
	width: auto;
	background-color: white;
}

.singlePokemonGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border-style: solid;
	border-width: 2px;
	border-color: rgb(28, 99, 139);
	background-color: #44b8e6;
	border-width: 2px;
	border-radius: 30px;
	margin: 20px;
}

.pokemonContainer p {
	color: black;
	text-decoration: none !important;
}

.pokemonContainer img {
	padding: 30px;
	margin: auto;
	margin-top: 30px;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(28, 99, 139);
	border-radius: 30px;
	height: auto;
	width: auto;
	background-color: white;
}

.pokemonContainer li {
	padding: 3px;
	list-style: none;
}

/*pokemonEntry*/

.pokemonEntry {
	font-size: larger;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(28, 99, 139);
	background-color: #44b8e6;
	border-width: 2px;
	border-radius: 30px;
	margin: 20px;
}

.pokemonInfo1 {
	padding: 20px;
	display: flex;
	flex-flow: column;
	text-align: left;
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(28, 99, 139);
	border-radius: 30px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.pokemonInfo2 {
	padding: 20px;
	display: flex;
	flex-flow: column;
	text-align: left;
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(28, 99, 139);
	border-radius: 30px;
	margin-right: 20px;
	margin-bottom: 20px;
}

/*Evolutions*/

.evoGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border-style: solid;
	border-width: 2px;
	border-color: rgb(28, 99, 139);
	background-color: #44b8e6;
	border-width: 2px;
	border-radius: 30px;
	margin: 20px;
}

/*locations*/

.locationsGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border-style: solid;
	border-width: 2px;
	border-color: rgb(28, 99, 139);
	background-color: #44b8e6;
	border-width: 2px;
	border-radius: 30px;
}

.locationContainer h2 {
	padding: 20px;
	font-size: xx-large;
}

.locationsGrid p {
	padding: 3px;
	list-style: none;
	font-size: medium;
}

.pokemonLocationDetails {
	padding: 20px;
	display: flex;
	flex-flow: column;
	text-align: left;
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(28, 99, 139);
	border-radius: 30px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

/*radarChart*/

.radarChart {
	background-color: #8ad2ee;
	padding: 20px;
	margin: 20px;
	border-radius: 30px;
}
